/*** PARAMETRES PAR DEFAUT ***/

.audio {
    width: 100%;
    color: white;
    line-height: 35px;
    font-family: "WebAtlas-base";
    font-size: 20px;
    cursor: default;
    position: absolute;
    left: 0;
    bottom: 0;
}

.audio .menu {
    height: 35px;
    background: rgba(0, 0, 0, .5);
    overflow: hidden;
}

.audio .progressBar {
    height: 4px;
    margin-top: 4px;
    background-color: rgba(180, 180, 180, .3);
    transition: 0.3s;
    cursor: pointer;
    display: none;
    position: relative;
}
.audio .progressBar:hover {
    height: 8px;
    margin-top: 0px;
}

.audio .progressBar_actual {
    height: 4px;
    background-color: rgb(255, 0, 0);
    transition: height .3s;
    position: absolute;
}
.audio .progressBar:hover .progressBar_actual {
    height: 8px;
}

.audio .progressBar_buffer {
    height: 4px;
    background-color: rgba(201, 201, 201, .3);
    transition: height .3s;
    position: absolute;
}
.audio .progressBar:hover .progressBar_buffer {
    height: 8px;
}

.audio .progressBar_cursor {
    width: 14px;
    height: 14px;
    margin-left: -7px;
    margin-top: -3px;
    background-color: rgb(255, 0, 0);
    border-radius: 100%;
    box-shadow: 0 0 5px black;
    transform: scale(0);
    transition: transform .3s;
    position: absolute;
    left: 0px;
    top: 0px;
}
.audio .progressBar:hover .progressBar_cursor {
    transform: scale(1);
}

.audio .btn {
    width: 40px;
    vertical-align: top;
    text-align: center;
    cursor: pointer;
    display: inline-block;
}

.audio .loop.disabled, .audio .random.disabled {
    opacity: .5;
}

.audio .hitbox_volume {
    width: 40px;
    overflow: hidden;
    transition: .2s;
    display: inline-block;
    position: relative;
}
.audio .hitbox_volume:hover {
    width: 120px;
}
.audio .hitbox_volume .bar_volume {
    width: 60px;
    height: 5px;
    vertical-align: middle;
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
    position: absolute;
    top: 15px;
    left: 50px;
}
.audio .hitbox_volume .barRemplissage_volume {
    width: 100%;    /* Au démarrage, le volume est a 100% */
    height: 5px;
    background-color: white;
}


.audio .spinner-third {
    animation: rotate_icon infinite 1s linear;
}

.audio .timer {
    font-family: "WebAtlas-base";
    font-size: 15px;
    vertical-align: top;
    position: relative;
    bottom: .05em;
}
.audio .timer.slash {
    bottom: .01em;
}

.audio .speaker-high::before {
    font-size: 17px;
    vertical-align: top;
}
.audio .speaker-medium::before {
    font-size: 17px;
    vertical-align: top;
}
.audio .speaker-low::before {
    font-size: 17px;
    vertical-align: top;
}
.audio .speaker-mute::before {
    font-size: 17px;
    vertical-align: top;
}



/*** ANIMATIONS ***/

@keyframes rotate_icon {
    0%   {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}